@font-face{
  font-family:"BagelFatOneLocal";
  src:url("./fonts/BagelFatOne-Regular.ttf") format("truetype");
  font-weight:400;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"NanumNaMuJeongWeonLocal";
  src:url("./fonts/NanumNaMuJeongWeon.ttf") format("truetype");
  font-weight:400;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"PretendardSemiBoldLocal";
  src:url("./fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight:600;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"LaudrygoLocal";
  src:url("./fonts/laudrygo Regular.woff") format("woff");
  font-weight:400;
  font-style:normal;
  font-display:swap;
}

